@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Tambahkan di file globals.css */
.thin-scrollbar {
  scrollbar-width: thin; /* Untuk Firefox */
  scrollbar-color: rgba(107, 114, 128, 0.5) transparent; /* Warna dan background scrollbar di Firefox */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar untuk WebKit (Chrome, Safari) */
  height: 8px; /* Tinggi scrollbar horizontal (jika ada) */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5); /* Warna scrollbar thumb */
  border-radius: 10px; /* Membuat sudut scrollbar lebih halus */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background track scrollbar */
}

/* globals.css */
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer  10s infinite;
}
